[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
black = "*"
awsebcli = "*"

[packages]
django = "==2.2.5"
pillow = "*"
django-countries = "*"
django-seed = "*"
request = "*"
requests = "*"
django-storages = "*"
boto3 = "*"
awsebcli = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
