{% extends "base.html" %}


{% block page_title %}
    Garcia Home
{% endblock page_title %}

{% block content %}

    <div class="container mx-auto pb-10">
        
        <!--<div class="rounded-lg bg-gray-800 -mx-40 h-50vh p-48 mb-12 bg-cover bg-center" style="background-image:url(https://images.unsplash.com/photo-1536315238512-4c8cebdaaf93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop)"></div>-->
        <!--<div class="rounded-lg bg-gray-800 -mx-40 mb-12 p-166 bg-cover" style="background-image:url(https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop)"></div>-->
        <div class="rounded-lg bg-gray-800 -mx-40 mb-12 p-166 bg-cover bg-bottom" style="background-image:url(https://airbnb-clone-final.s3.amazonaws.com/uploads/bg-photo.jpg)">
            <div class="w-64 opacity-75">
                <input class="search-box1 rounded-lg border-b font-medium text-gray-900 placeholder-gray-900 py-6 shadow-md hover:shadow-lg focus:outline-none" placeholder="널 부자로 만들어줄 프로젝트">
            </div>
        </div>

        <div class="flex flex-wrap -mx-40 mb-10">
        {% for room in rooms  %}
            {% include 'mixins/room_card.html' with room=room %}
        {% endfor %}
        </div>
        <div class="flex items-center justify-center mx-auto container">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" class="text-gray-700">
                    <i class="fas fa-arrow-left fa-lg"></i>
                </a>
            {% endif %}

            <span class="mx-3 font-medium text-lg">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

            {% if page_obj.has_next  %}
                <a href="?page={{page_obj.next_page_number}}" class="text-gray-700">
                    <i class="fas fa-arrow-right fa-lg"></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock content %}