{% extends "base.html" %}

{% block page_title %}
    Search
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="container lg:w-5/12 md:w-1/2 xl:w-1/4 mx-auto my-10 flex flex-col items-center border p-6 border-gray-400">
        <h2>Search!</h2>
        <form method="get" action="{% url "rooms:search" %}">
        {{form.as_p}}
            <button>Search</button>
        </form>

        <h3>Results</h3>

        {% for room in rooms %}
            <a href="{% url 'rooms:detail' room.pk %}">
                <h3>{{room.name}}</h3>
            </a>
        {% endfor %}
    </div>

{% endblock content %} 