container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_createsu:
    command: "django-admin createsu"
    leader_only: true
  03_collectstatic:
    command: "django-admin collectstatic --noinput"
    leader_only: true
  04_seed_users:
    command: "django-admin seed_users --number 1"
    leader_only: true
  05_seed_rooms:
    command: "django-admin seed_rooms --number 15"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings